/* Google Font Import - Poppins */

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 208, 255, 207;
    --background-end-rgb: 208, 255, 207;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/* Mobile screens */

@media screen and (max-width: 767px) {
  :root {
    --max-width: 100%;
  }

  .container {
    padding: 50px;
  }

  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-left: 0;
  }

  .card {
    max-width: none;
  }

  .textContainer {
    width: 100%;
  }
}
