.hearder {
  margin: 0 auto;
}

.title {
  font-size: 5rem;
  margin-top: 10rem;
  text-align: center;
}

.title2{
  font-size: 5rem;
  text-align: center;
}


.description {
  font-size: 1rem;
  text-align: center;
}