.header {
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  margin-top: 5rem;
  text-align: center;
}

.title2 {
  font-size: 3rem;
  text-align: center;
}

.description {
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .title2 {
    font-size: 2rem;
  }

  .description {
    font-size: 0.8rem;
  }
}
