/* Styles for desktop screens */

.icons {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.icons a {
  margin: 0 1.5rem;
  color: #000;
  font-size: 2rem;
  transition: color 0.2s ease-in-out;
}

.icons a:hover {
  color: #6fcf97;
}

/* Styles for mobile screens */

@media only screen and (max-width: 600px) {
  .icons {
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .icons a {
    margin: 0.5rem;
    font-size: 1.5rem;
  }
}
