.icons {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  
  .icons a {
    margin: 0 1.5rem;
    color: #000;
    font-size: 2rem;
    transition: color 0.2s ease-in-out;
  }
  
  .icons a:hover {
    color: #6fcf97;
  }