.container {
    
    margin: 0 auto;
    padding: 90px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .row a {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
  
  .row a img {
    
    width: 100%;
    height: auto;
  }
  
  .linkCard {
    background: #fffdfd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .linkCard:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .linkCard img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .linkCard h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .linkCard p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  